
html, body {
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	background-color: black;
}

#viewport {
	overflow:hidden;
	transform-style: flat;
}

#main {
	transform-style: preserve-3d;
}

#tiles {
	width:300px;
	height:300px;
	transform-style: preserve-3d;
}

.tile {
	position:absolute;
	top:0px; left:0px;
	transform-style: preserve-3d;
	overflow:hidden;
}

#modal-bg {
	width:100%;
	height:100%;
	background-color:black;
	position:fixed;
	top:0px; left:0px;
	cursor:pointer;
	
	display:none;
}

#modal {
	width:500px;
	height:610px;
	
	position:absolute;
	top:50%; left:50%;
	margin-left:-250px;
	/*margin-top:-305px;*/
	margin-top:-265px;
	
	z-index:99999999;
	
	display:none;
	
	font-family: Arial, Helvetica, sans-serif
}

#modal-frame {
	width:500px;
	height:610px;
	position:absolute;

	background-color: white;
	/*border:1px solid red;*/
}

.modal-content {
	position:absolute;
	top:50%;
	left:50%;
	
	width:472px;
	height:472px;
	
	margin-left:-236px;
	margin-top:-200px;
	
}

#copy-handle {
	position:absolute;
	top:5px;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 2px;
	cursor: pointer;
}

#copy-username {
	position:absolute;
	top:25px;
	font-size: 10pt;
	letter-spacing: 1px;
	cursor: pointer;
}

#copy-caption {
	position:absolute;
	display:block;
	top:60px;
	left:-57px;
	width:466px;
	height:16px;
	overflow:hidden;
	font-size: 10pt;
	letter-spacing: 0px;
}

#modal-copy {
	position: absolute;
	top:15px;
	left:75px;
	width:380px;
	height:40px;
}

#modal-copy p {
	margin:0;
	padding:0;
}

.modal-avatar {
	position:absolute;
	width:49px;
	height:49px;
	top:15px;
	left:15px;
	cursor:pointer;
}

#modal-meta {
	position: absolute;
	bottom: 10px;
	left:15px;
	color:#a3a3a3;
	font-size: 12px;
	text-spacing: 2px;
}

#modal-close {
	position:absolute;
	left:505px;
	cursor:pointer;
}

#flash-player {
	background-color: black;
	width:472px;
	height:472px;
}

#search-holder {
	position:absolute;
	top:20px;
	right:105px;
	
	width:280px;
	height:62px;
	
	display:none;
}

#search-results {
	position:absolute;
	top: 85px;
	right:105px;
	
	width:280px;
	height:75px;
	
	background-color: white;
	
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 10pt;
	line-height: 20px;
	letter-spacing: 2px;
	
	padding-top:15px;
	
	display:none;
}

#result-num {
	font-weight: bold;
}

#clear-search {
	text-decoration: underline;
	cursor: pointer;
	color:#000;
}

#clear-search:hover {
	color:#444;
}

#search {
	position:absolute;
	top:10px;
	right:15px;
	
	width:250px;
	height:29px;
	border-bottom:1px solid white;
	
	font-size: 12px
}

#search-input {
	width:212px;
	height:14px;
	
	color:white;
	padding:5px 0px 5px 0px;
	outline:0px solid transparent;
	font-family: Helvetica, Arial, sans-serif;
	white-space:nowrap;
	overflow: hidden;
	
	text-transform: uppercase;
}

#search-icon {
	position:absolute;
	right:0px;
	top:4px;
}

#loading {
	width:32px; height:32px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-16px;
	margin-top:-16px;
	
	z-index:999999;
}

div
{
/*	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;  Chrome and Safari 
	-moz-backface-visibility:hidden;  Firefox 
	-ms-backface-visibility:hidden;  Internet Explorer */
}


div { 
	image-rendering: optimizeSpeed;             /* via nullsleep				  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
